<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invoice</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    h1, h2 {
      text-align: center;
      color: #333;
    }

    p, ul {
      max-width: 600px;
      margin: 10px auto;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    li:last-child {
      border-bottom: none;
    }

    h2 + p, h2 + ul {
      margin-top: 0;
    }
  </style>
</head>
<body>
  <h1>Invoice</h1>
  <h2>Customer Information</h2>
  <p>First Name: {{invoice.user_fname}}</p>
  <p>Last Name: {{invoice.user_lname}}</p>
  <h2>Ordered Products</h2>
  <ul>
    {{#each invoice.products}}
      <li>{{this.prod_name}} - ${{this.prod_price}}</li>
    {{/each}}
  </ul>
  <h2>Payment Information</h2>
  <p>Credit Card: {{invoice.masked_credit_card}}</p>
  <h2>Delivery</h2>
  <p>{{#if invoice.delivery}}Yes{{else}}No{{/if}}</p>
  <h2>Taxes</h2>
  <p>${{invoice.taxes}}</p>
  <h2>Total Cost</h2>
  <p>${{invoice.total_cost}}</p>
  <h2>Thank You!</h2>
  <p>Thank you for trusting GrabNGo!</p>
</body>
</html>
